{% extends 'base.html' %}
{% block activeabout%}active{% endblock activeabout%}
{% block title %} About Page {% endblock title %}
{% block body %}


      <div class="row my-3  justify-content-center">
        <h2 class="text-center"></h2>
        <div class="card mx-4" style="width: 18rem;">
          <img src="https://source.unsplash.com/600x600/?code,css" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Programmer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">More</a>
          </div>
        </div>
        <div class="card mx-4" style="width: 18rem;">
          <img src="https://source.unsplash.com/600x600/?technology" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tech guy</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">More</a>
          </div>
        </div>
        <div class="card mx-4" style="width: 18rem;">
          <img src="https://source.unsplash.com/600x600/?gadgets" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gadgets</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">More</a>
          </div>
        </div>
      </div>
      

  {% endblock body %}
